.header {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.box {
    box-sizing:border-box;
    border: 1px;
    border-color: black;
    border-style: solid;
    flex-grow: 1;
}


.drawn {
    background-color: blue
}